.profile{
    max-width: 950px;
    padding: 30px 20px 0;
    margin: 30px auto;
}
.profile-frame{
    display: flex;
    justify-content: space-evenly;
}
.profile-pic{
    height: fit-content;
}
.profile-pic > img{
    width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius: 100px;
}
.profile-info{
    display: flex;
    margin-left: -6px;
}
.profile-info > p{
    padding: 0 8px;
    /* float: left; */
    /* text-align: left; */
    font-size: 20px;
}
.user-data{
    text-align: left;
    line-height: 10px;
}
.all-post{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    text-align: center;

    /* gap: -20px; */
    /* display: grid;
    grid-template-columns: repeat(auto-fit, 7rem);
    gap: 35px; */
    /* grid-template-rows: repeat(10rem,auto); */
}
.all-post img{
    height: 309px;
    width: 309px;
    margin: 2px;
    object-fit: cover;
}
.user-follow{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.user-follow button{
    padding: 8px 12px;
    background-color: #0d6efd;
    border: none;
    color: #ffff;
    border-radius: 5px;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: bold;
}
#following{
    /* border: 1px solid rgba(96, 88, 88, 0.164); */
    box-shadow: 0 10px 20px -10px #0095f6;
    background-color: #fff;
    color: rgb(111, 102, 102);
    border-radius: 5px;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: bold;
}
.user-follow button:hover{
    transition: all 0.3s ease;
    transform: scale(1.1);
    box-shadow: 0 10px 20px -10px #0095f6;
}
.changepic{
    background-color: #fff;
    border-radius: 20px;
}
.changepic button{
    background: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    font-size: 1rem;
    padding: 15px 80px;
    border-top: 1px solid rgba(20, 19, 19, 0.217);
}
.toggle-post{
    display: flex;
    gap: 1rem;
    justify-content: center;
    font-size: 1.3rem;
    color: rgba(13, 12, 12, 0.827);
    cursor: pointer;
}
/* .upload-btn{
    background: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    font-size: 1rem;
} */


@media screen and (max-width:430px)  {
    .all-post img{
        height: 200px;
        width: 180px;
        margin: 2px;
        object-fit: cover;
    }
    .profile-pic >img{
        width: 80px;
        height: 80px;
        object-fit: cover;
        border-radius: 100px;
    }
    .profile-info > p{
        padding: 0 8px;
        /* float: left; */
        /* text-align: left; */
        font-size: 13px;
    }
    .user-data{
        text-align: left;
        line-height: 0px;
        margin-left: 6px;
    }
    .user-data h2{
        text-align: left;
        /* line-height: 0px; */
        font-size: 1rem;
        /* margin-left: 2px; */
    }
}
@media screen and (max-width:380px){
    .all-post img{
        height: 100px;
        width: 100px;
        margin: 2px;
        object-fit: cover;
    }
} 
@media screen and (max-width:325px){
    .all-post img{
        height: 128px;
        width: 128px;
        margin: 2px;
        object-fit: cover;
    }
    .profile-info > p{
        padding: 0 5px;
        /* float: left; */
        /* text-align: left; */
        font-size: 13px;
    }

} 